body.page-template-discover {

	section.hero {
		max-height: 720px;
	}


	section.form {
		padding: 100px 0 100px 0;

		.wrapper {
			max-width: 580px;
		}

		.form-header {
			text-align: center;
			padding: 0 0 50px 0;

			h2 {
				font-weight: 300;
				font-size: 2em;
				text-transform: uppercase;
				padding: 0 0 50px 0;
				width: 100%;
			}


			.copy {
				text-align: left;

				p {
					font-size: 1.125em;
					line-height: 1.6666em;
				}

			}
		}

		.wpforms-field-container {

			@include tablet-portrait {
				display: flex;
				flex-wrap: wrap;
			}

			.wpforms-field {
				padding: 20px 0;
				width: 100%;
			}

			.wpforms-field-medium {
				max-width: 100%;
				border: none;
				border-bottom: 1px solid $slate;
				padding-left: 0;
				padding-bottom: 10px;
				font-weight: 600;

				@include input-placeholder {
					color: $blue;
					font-weight: 600;
				}
			}

			.choice {
				background: #e3e4e5;
				padding: 30px;

				@include tablet-portrait {
					width: 50%;
					margin-top: 15px;

				}

				.wpforms-field-label {
					font-weight: 400;
					font-size: 1.25em;
					line-height: 1.25em;
					padding: 0 0 10px 0;
				}

				.wpforms-field-label-inline {
					color: $blue;
					font-weight: 600;
					font-size: 1.125em;
					padding: 0 0 10px 0;
				}

				li {
					display: flex;

					input[type="radio"]{
						width: 20px;
						height: 20px;

						&:checked {
							background: $gold;
						}
					}

					label {
						flex: 1;
					}
				}
			}

			.wpforms-field-textarea {
				padding: 30px 0;
				label {
					color: $blue;
					font-weight: 600;
				}
			}
		}

		.wpforms-submit-container {
			text-align: center;

			.btn {
				display: inline-block !important;
			}
		}

	}


	section.discovery-center {
		padding: 0 0 50px 0;

		.wrapper {
			max-width: 880px;
		}

		.header {
			text-align: center;
			padding: 0 0 50px 0;

			h3 {
				font-weight: 300;
				font-size: 2em;
				text-transform: uppercase;
				padding: 0 0 25px 0;
				width: 100%;

			}

			h4 {
				font-weight: 300;
				font-size: 1.125em;
				line-height: 1.125em;

			}

		}

		.photo {
			img {
				margin: 0 auto;
			}
		}

		.contact-info {
			padding-top: 50px;
		}
	}	

}