footer {
	background: $slate;
	color: $white;
	padding: 50px 0;

	a {
		color: $white;
	}

	.wrapper {
		display: flex;
		flex-wrap: wrap;
		max-width: 480px;

		@include tablet-landscape {
			max-width: 1200px;
			align-items: center;
		}

	}

	.logo {
		width: 100%;
		padding: 0 0 50px 0;

		@include tablet-landscape {
			width: 35%;
			padding: 0;
		}

		img {
			width: 100%;
			max-width: 240px;
			margin: 0 auto;

			@include tablet-landscape {
				margin: 0;
			}
		}
	}

	.contact {
		width: 100%;
		padding: 0 0 50px 0;


		@include tablet-landscape {
			width:40%;
			padding: 0;
		}

		p.icon {
			font-weight: bold;
			padding: 0 0 0 24px;
			line-height: 1.25em;
			background-repeat: no-repeat;
			background-position: 0 0;
			background-size: 16px 16px;
		}


		.address {
			p.icon {
				background-image: url(images/pin-icon-white.svg);
				padding-bottom: 20px;

				@include tablet-landscape {
					padding-bottom: 10px;
				}
			}			
		}

		.phone {
			p.icon {
				background-image: url(images/phone-icon-white.svg);
				padding-bottom: 50px;

				@include tablet-landscape {
					padding-bottom: 30px;
				}
			}			
		}

		.email {
			p.icon {
				background-image: url(images/email-icon-white.svg);
			}			
		}

		a.directions {
			font-weight: bold;
			display: inline-block;
			margin: 0 0 50px 24px;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			padding-bottom: 1px;
			border-bottom: 1px solid rgba(255, 255, 255, 0.4);

			@include tablet-landscape {
				margin-bottom: 30px;
			}
		}
	}

	.social {
		width: 100%;
		border-top: 2px solid $white;
		padding: 50px 0 50px 0;


		@include tablet-landscape {
			width: 25%;
			padding: 0;
			border-top: none;
			border-left: 1px solid $white;
			align-self: stretch;
		}

		.social-wrapper {
			display: flex;
			align-items: center;
			justify-content: center;

			@include tablet-landscape {
				height: 100%;
			}
			

			a {
				display: block;
				margin: 0 20px;
				width: 100%;
				max-width: 40px;
				max-height: 40px;

				img {
					width: 100%;
					max-width: 40px;
					max-height: 40px;
				}
			}
		}
	}

	.copyright {
		width: 100%;

		@include tablet-landscape {
			padding: 20px 0 0 0;
			text-align: right;

		}

		p {
			font-size: 0.75em;
			line-height: 1.25em;

			a {
				text-decoration: underline;
			}
		}

	}

}

#join-cta {
	background: $blue;
	color: $white;
	padding: 40px 0;
	text-align: center;

	@include tablet-landscape {
		text-align: left;
		padding: 20px 0;
	}

	a {
		color: $white;
	}

	.wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	.headline {
		width: 100%;
		padding: 0 0 20px 0;

		@include tablet-landscape {
			width: auto;
			padding: 0;
		}

		h3 {
			font-weight: 300;
			text-transform: uppercase;
			letter-spacing: 0.03em;
			font-size: 1em;
			line-height: 1.25em;

			@include tablet-landscape {
				letter-spacing: 0.05em;
			}
		}
	}



	.cta {
		text-align: center;
		width: 100%;

		@include tablet-landscape {
			width: auto;
		}

		a {
			display: inline-block;
			border: 1px solid #75a1bc;
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: 0.1em;
			padding: 15px 20px 13px 20px;

			&:hover {
				text-decoration: underline;

			}
		}
	}
}