body.page-template-gallery {


	.photo-gallery {
		padding: 50px 0;

		.gallery {
			display: flex;
			flex-wrap: wrap;
			padding: 10px 0;
			transform: translateY(-50px);

			@include mobile-landscape {
				transform: translateY(-100px);
				margin-bottom: -100px;
			}

			@include tablet-portrait {
				transform: translateY(-150px);
				margin-bottom: -150px;
			}
		
			img {
				width: auto !important;
				height: auto !important;
			}
		
		}

	}

}