header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;


	&.fixed-nav {
		position: fixed;
		background: $white;
		top: 0;
		left: 0;
		box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
		width: 100%;
		height: 120px;

		&.open {
			background: transparent;
			
			.logo {
				display: none;
			}
		}

		@include tablet-portrait {
			position: absolute;
			background: transparent;
			box-shadow: none;
			height: auto;
			top: auto;
			left: auto;
		}
	}



	.wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		position: static;
	}

	.logo {
		z-index: 1000;
		padding: 25px 0 0 0;
		z-index: 950;
		width: 100%;
		max-width: 150px;

		@include tablet-landscape {
			max-width: 340px;
		}
			
		a {
			display: block;
		}

		@include tablet-portrait {
			padding: 85px 0 0 0;

		}

		@include tablet-landscape {
			padding: 130px 0 0 0;

		}

		img {
			width: 100%;
			max-width: 150px;

			@include tablet-landscape {
				max-width: 340px;
			}
		}
	}

	.menu-toggle {
		position: absolute;
		top: 48px;
		right: 25px;
		z-index: 1000;
	}

	#toggle {
		display: block;
		width: 48px;
		height: 20px;
	    cursor: pointer;
	    padding: 8px 0;
	    transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);

	    @include tablet-portrait {
	    	display: none;
	    }

		.patty {
		    width: 48px;
		    height: 3px;
		    background: #93979a;
		    border-radius: 2px;
		    transition: all 0.3s;
		    margin-left: auto;

			&:after, &:before {
			    content: '';
			    display: block;
			    width: 48px;
			    height: 3px;
			    background: #93979a;
			    position: absolute;
			    z-index: 1;
			    transition: all 0.3s;
			    border-radius: 2px;
			}
			&:before {
			    top: -8px;
			}
			&:after {
			    top: 8px;
			}
		}
	}

	&.open {
		z-index: 10001;

		#toggle .patty {
			background: none;

			&:after {
			    top: 0;
			    transform: rotate(45deg);
			    background: $white;
			}
			&:before {
			    top: 0;
			    transform: rotate(-45deg);
			    background: $white;
			}
		}

	}

	nav {
		display: block;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1000;
		background: $blue;
		width: 80%;
		height: 100vh;
		transform: translateX(125%);
		transition: all 0.2s ease-in-out;

		&.open {
			transform: translateX(25%);
			overflow: scroll;

			@include tablet-portrait {
				transform: translateX(0);
			}
		}

		.nav-wrapper {
			padding: 100px 0;

			.nav-content {
				flex-wrap: wrap;
				align-items: flex-start;				
			}
		}

		a {
			color: $white;
			display: inline;
			padding: 15px 20px;
			width: 100%;
			font-size: 1.125em;
			font-weight: 500;

			&:hover {
				text-decoration: underline;
			}

			&.phone {

				@include tablet-landscape {
					background-position: left top 1px;
					background: url(images/phone-icon.svg) no-repeat left top;
					background-size: 12px 12px;
					padding-left: 16px;
					&:hover {
						color: $slate;
					}
				}
			}
		}

		@include tablet-portrait {
			display: block !important;
			transform: translateX(0);
			height: 63px;
			background: transparent;

			position: absolute;
			width: 100%;
			padding: 25px 0 25px 0;
			top: 0;
			left: 0;
			transition: background 0.2s ease-in-out;

			&.fixed-nav {
				position: fixed;
				z-index: 1000;
				background: $white;
				top: 0;
				box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
			}

			.nav-wrapper {
				padding: 0;
				justify-content: center;
				align-items: center;

			}

			a {
				text-transform: uppercase;
				letter-spacing: 0.02em;
				font-weight: bold;
				margin: 0 20px;
				display: inline-block;
				font-size: 0.75em;
				padding: 0 0 5px 0;
				border-bottom: 4px solid transparent;
				width: auto;
				color: $slate;

				&:hover {
					color: $gold;
					border-bottom: 4px solid $gold;
					text-decoration: none;
				}

			}
		}

		.logo-icon {
			display: none;

			img {
				margin: 0 auto;

				&.mobile {
					display: block;
				}
				&.desktop {
					display: none;
				}

				@include tablet-portrait {
					&.mobile {
						display: none;
					}
					&.desktop {
						display: block;
					}					
				}

			}
		}


		@include tablet-portrait {
			&.fixed-nav {
				height: 63px;
			}
		}

		@include tablet-landscape {
			&.fixed-nav {
				height: 73px;

				.logo-icon {
					display: block;
					position: absolute;
					left: 50px;
					top: -8px;

					&:hover {
						border-bottom: 2px solid transparent;
					}
				}
			}
	
			a {
				font-size: 0.875em;
				margin: 0 20px;
			}

		}

		.nav-content {
			display: flex;
			width: 100%;
			justify-content: center;
		}



	}	


	&.open {
		.menu-toggle {
			position: fixed;
			z-index: 10000;
		}

		.logo-icon {
			display: block;

			img {
				margin: 0;
			}
		}
	}

}


section#page {
	transition: all 0.2s ease-in-out;

	&.open {
		transform: translateX(-80%);

		@include tablet-portrait {
			transform: translateX(0);
		}
	}
}

@include tablet-portrait {
	body.page-template-life-at-serenite .link-life-at-serenite,
	body.page-template-the-poconos .link-the-poconos,
	body.page-template-our-story .link-our-story,
	body.page-template-discover .link-discover {
		color: $gold;
		border-bottom-color: $gold;
	}
}
