body.home {

	section.hero {

		.slide {

			.slide-image {
				width: 100%;

				height: 500px;
				background-repeat: no-repeat;
				background-size: cover;
				z-index: 500;

				@include tablet-portrait {
					height: 700px;	
				}

				@include tablet-landscape {
					height: 800px;	
				}
			}

			&:focus,
			&:active {
				outline: none;
			}

			&:after {
				content: '';
				display: block;
				width: 100%;
				height: 313px;
				z-index: 1;
				opacity: 0.5;
				top: 0;
				left: 0;
				position: absolute;
				background: url(images/header-clouds.png) no-repeat 0 0;
				background-size: cover;

				@include tablet-landscape {
					height: 313px;
					opacity: 1;
				}
			}	
		}

		.slick-dots {
			bottom: 60px;
			z-index: 500;

			@include tablet-portrait {
				bottom: 150px;

			}

			li button:before {
				background: $white;
				border: 2px solid #4d748c;
				opacity: 1;
			}
			
			li.slick-active button:before {
				background: #4d748c;
				border: 2px solid #4d748c;
				opacity: 1;
			}

		}	

		
		.info {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;


			.info-wrapper {
				color: $white;
				text-align: center;
				padding: 50px 0 0 0;
				z-index: 2;

				h1 {
					font-weight: 100;
					text-transform: uppercase;
					letter-spacing: 0.05em;
					font-size: 2em;
					line-height: 1.25em;

					@include tablet-portrait {
						font-size: 3em;
					}

					@include tablet-landscape {
						font-size: 4em;

					}
				}

				h2 {
					font-size: 0.875em;
					text-transform: uppercase;
					letter-spacing: 0.05em;
					padding: 20px 0 0 0;
					font-weight: 200;

					@include tablet-portrait {
						font-size: 1.25em;
					}
				}

				.video-thumbnail {
					padding: 50px 0 0 0;


					a {
						position: relative;
						display: block;
						margin: 0 auto;
						width: 65px;
						height: 96px;

						img {
							margin: 0 auto;
							position: absolute;
							top: 0;
							width: 65px;
							height: 65px;
							transition: opacity 0.2s ease-in-out; 

							&.normal {
								z-index: 3;
							}

							&.hover {
								z-index: 2;
							}
						}

						&:hover {
							img.normal {
								opacity: 0;
							}
						}

						span {
							color: $white;
							display: block;
							text-transform: uppercase;
							font-weight: 500;
							font-size: 0.75em;
							letter-spacing: 0.25em;
							position: absolute;
							bottom: 0;
							left: -6px;
						}
					}			
				}
			}


		}
	}

	section.about-statement {
		z-index: 500;
		width: 100%;

		.wrapper {
			position: absolute;
			top: -50px;
			max-width: 100%;
			width: 100%;
			padding: 0;


			@include tablet-portrait {
				top: -125px;
			}

			.bg-texture {
				width: 100%;
			}
		}
		


		.info {
			padding: 40px;

			@include tablet-portrait {
				padding: 85px 95px;
			}
		}

		h3 {
			color: $blue;
			font-weight: 300;
			font-size: 1.25em;
			line-height: 1.3333em;
			padding: 0 0 50px 0;

			@include tablet-portrait {
				font-size: 1.875em;
			}
		}

		p {
			font-size: 0.9375em;
			line-height: 1.666em;
			font-weight: 400;

			@include tablet-portrait {
				font-size: 1.125em;
			}
		}
	}

	section.discover {
		padding: 550px 0 350px 0;
		background-position: center center;
		background-size: 100%;
		background-attachment: fixed;

		@include mobile-landscape {
			padding: 400px 0 400px 0;
			background-size: 70%;
		}

		@include tablet-portrait {
			padding: 500px 0 400px 0;
			background-size: 60%;
		}


		.wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			max-width: 500px;

			.discover-links {
				width: 100%;
				padding: 80px 0 0 0;

				.btn {
					max-width: 400px;
					margin: 0 auto
				}
			}
	
		}
	}

	section.location {


		.wrapper {
			position: absolute;
			width: 100%;
			max-width: 100%;
			z-index: 150;
			top: -250px;

		}

		.bg-texture {

			.info {
				padding: 40px;
			}

			@include tablet-portrait {
				
				.info {
					padding: 50px 100px 70px 100px;
				}
			}
		}

		.gallery {
			z-index: 151;
			top: -50px;

			@include mobile-landscape {
				top: -75px;
			}

			@include tablet-portrait{
				top: 0;
			}


			.slick-dots {
				bottom: 40px;

				@include tablet-portrait {
					bottom: 60px;
				}

				li button:before {
					background: $white;
					border: 2px solid #4d748c;
					opacity: 1;
				}
				
				li.slick-active button:before {
					background: #4d748c;
					border: 2px solid #4d748c;
					opacity: 1;
				}

			}						

			.slide {
				padding: 35px 0 0 0;

				&:focus,
				&:active {
					outline: none;
				}

				.photo {
					img {
						width: 100%;
					}
				}

				.caption {
					width: 100%;
					position: absolute;
					top: 0;
					z-index: 151;



					p {
						text-align: center;
						text-transform: uppercase;
						max-width: 320px;
						margin: 0 auto;
						line-height: 1.25em;
						font-size: 0.8125em;

						@include tablet-portrait {
							font-size: 1em;
							max-width: 500px;
						}
					}
				}
			}
		}

		.cta {
			width: 100%;
			text-align: center;
			z-index: 400;
			top: -50px;
			height: 0;

			@include tablet-portrait {
				top: -10px;
			}
		}
	}

	section.story {

		.wrapper {
			padding: 0;

			@include mobile-landscape {
				padding: 0 25px;
			}
		}

		.story-wrapper {
			padding: 50px 0;			
			background-position: center center;
			background-size: 0;

			@include tablet-portrait {
				padding: 100px 0;
				background-size: 100%;
			}
		}

		.info {
			padding: 40px;

			@include tablet-portrait {
				padding: 60px 90px 90px;
			}

		}

		.cta {
			width: 100%;
			text-align: center;
			transform: translateY(60px);

			@include tablet-portrait {
				transform: translateY(110px);
			}


		}
	}

	section.discovery-center {
		padding: 50px 0;

		.wrapper {
			max-width: 880px;
		}

		.header {
			text-align: center;
			padding: 0 0 50px 0;

			h3 {
				font-weight: 300;
				font-size: 2em;
				text-transform: uppercase;
				padding: 0 0 25px 0;
				width: 100%;

			}

			h4 {
				font-weight: 300;
				font-size: 1.125em;
				line-height: 1.125em;

			}

		}

		.photo {
			img {
				margin: 0 auto;
			}
		}

		.contact-info {
			padding-top: 50px;
		}

		.cta {
			padding: 75px 0 50px 0;
			text-align: center;
		}
	}	
}