body.page-template-join {

	section.hero {
		max-height: 720px;
		background-position: top center;
	}


	section.hero-content {
		.wrapper {
			padding: 0;

			@include mobile-landscape {
				padding: 0 25px;
			}
		}
		
		.bg-texture {
			transform: translateY(-50px);

			@include tablet-portrait {
				transform: translateY(-125px);
				margin-bottom: -75px;
			}
		}

		.info {
			padding: 50px;
			z-index: 20;

			@include tablet-portrait {
				padding: 50px 110px;

			}
		}
	}

	section.main-content {
		padding: 0 0 50px 0;
	}

}