body.page-template-life-at-serenite {

	section.hero-content {
		.wrapper {
			padding: 0;

			@include mobile-landscape {
				padding: 0 25px;
			}
		}

		.bg-texture {
			transform: translateY(-50px);

			@include tablet-portrait {
				transform: translateY(-125px);
				margin-bottom: -75px;
			}
		}

		.ornament {
			padding-top: 100px;
		}
		
		.info {
			padding: 20px 50px 50px 50px;
			z-index: 20;

			@include tablet-portrait {
				padding: 20px 110px 50px 110px;

			}
		}
	}

	section.photo {
		@include aspect-ratio(16,9);
	}

	section.shared-ownership,
	section.whole-ownership {
		.wrapper {
			padding: 0;
		}

		.info {
			background: url(images/house-render.jpg) no-repeat center top 100px;
			background-size: 140%;
			padding: 150px 25px 150px 25px;
			max-width: 1050px;
			margin: 0 auto;

			@include tablet-portrait {
				background-size: 100%;
			}

			h4 {
				text-transform: uppercase;
				color: $gold;
				font-size: 1.125em;
				letter-spacing: 0.15em;
				padding: 0 0 35px 0;
			}

			h3 {
				text-transform: uppercase;
				letter-spacing: 0.05em;
				font-size: 1.6125em;
				padding: 0 0 50px 0;
			}

			.sidebar {
				padding: 50px 0 0 0;
				li {
					list-style-type: disc;
					font-size: 1.125em;
					line-height: 1.25em;
					font-weight: 600;
					margin-left: 20px;

					& + li {
						padding-top: 20px;
					}
				}
			}

			@include tablet-portrait {
				display: flex;
				justify-content: space-between;

				.main-content {
					width: 50%;
				}

				.sidebar {
					width: 33.3333%;
				}
			}

		}
		
	}

	section.shared-ownership-legacy {
		padding: 100px 0;
		background: url(images/wood-bg.jpg) no-repeat center center;
		background-size: cover;
		color: $white;

		.wrapper {
			max-width: 720px;
		}

		h3 {
			text-transform: uppercase;
			letter-spacing: 0.05em;
			font-weight: 300;
			font-size: 1.75em;
			padding: 0 0 50px 0;
		}
		
		ul {
			padding-top: 30px;
		}

		.meta {
			padding-top: 75px;

			img {
				margin: 0 auto;
			}

			.cta {
				padding-top: 75px;
				text-align: center;

				.btn {
					display: inline-block;

					span {
						display: block;
						max-width: 300px;
						line-height: 1.25em;
					}

				}
			}
		}

	}


	section.whole-ownership {

	}

	section.map {
		@include aspect-ratio(16, 9);

		iframe {
			border: none;
			width: 100%;
			height: 100%;

		}
	}


}