body.page-template-our-story {

	section.hero-content {
		.wrapper {
			padding: 0;

			@include mobile-landscape {
				padding: 0 25px;
			}
		}
		
		.bg-texture {
			transform: translateY(-50px);

			@include tablet-portrait {
				transform: translateY(-125px);
				margin-bottom: -75px;
			}
		}	

		.ornament {
			padding-top: 100px;
		}
		
		.info {
			padding: 20px 50px 50px 50px;
			z-index: 20;

			@include tablet-portrait {
				padding: 20px 110px 50px 110px;

			}
		}
	}

	section.history {
		padding: 50px 0 100px 0;

		.wrapper {
			max-width: 880px;

			@include tablet-portrait {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;

				.col {
					width: 45%;
				}
			}
		}

		h3 {
			font-weight: 500;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			padding: 0 0 50px 0;
			width: 100%;
		}

		.col-2 {
			padding: 20px 0 0 0;

			@include tablet-portrait {
				padding: 0;
			}

			* {
				font-weight: 300;
			}			
		}
	}

	section.history-slideshow {
		background-image: url(images/wood-bg.jpg);
		padding: 100px 0;
		text-align: center;
		color: $white;

		h3 {
			padding: 0 0 100px 0;
			color: $white;
			font-size: 2em;
			line-height: 1.25em;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			font-weight: 300;
		}

		.slideshow {

			.slick-prev,
			.slick-next {
				width: 25px;
				height: 44px;
				display: none;

				@include tablet-portrait {
					display: block;
				}
	

			}

			.slick-prev {
				background: url(images/arrow-prev.svg) no-repeat 0 0;
				left: 0;
				transform: translateY(-75px);
			}

			.slick-next {
				background: url(images/arrow-next.svg) no-repeat 0 0;
				right: 0;
				transform: translateY(-75px);
			}

			.slick-dots {
				bottom: auto;
				top: -60px;

				li button:before {
					opacity: 1;
				}
				li.slick-active button:before {
					background-color: $gold;
				}
			}

			.slide {
				.photo {
					max-width: 880px;
					margin: 0 auto;

					img {
						margin: 0 auto;
					}
				}

				.caption {
					padding: 50px 0 0 0;
					max-width: 880px;
					margin: 0 auto;
					text-align: left;

					p {
						font-size: 1.125em;
						line-height: 1.6666em;
						font-weight: 600;
					}
				}

				&:focus,
				&:active {
					outline: none;
				}
			}
		}

	}

}