body.page-template-the-poconos {

	section.hero-content {
		.wrapper {
			padding: 0;

			@include mobile-landscape {
				padding: 0 25px;
			}
		}

		.bg-texture {
			transform: translateY(-50px);

			@include tablet-portrait {
				transform: translateY(-125px);
				margin-bottom: -75px;
			}
		}

		.ornament {
			padding-top: 100px;
		}
		
		.info {
			padding: 20px 50px 50px 50px;
			z-index: 20;

			@include tablet-portrait {
				padding: 20px 110px 50px 110px;

			}
		}
	}

	section.slideshow {

		.slick-dots {
			top: -30px;

			@include tablet-portrait {
				top: 10px;
				bottom: auto;
				width: 50%;
				right: 0;
			}

			@include tablet-landscape {
				right: auto;
				left: 0;
			}

			li button:before {
				background: $white;
				border: 2px solid #4d748c;
				opacity: 1;
			}
			
			li.slick-active button:before {
				background: #4d748c;
				border: 2px solid #4d748c;
				opacity: 1;
			}
		}				

		.slide {
			display: flex;
			flex-wrap: wrap;
			width: 100%;

			&:focus,
			&:active {
				outline: none;
			}
	
			.info,
			.photo {
				width: 100%;

				@include tablet-portrait {
					width: 50%;
				}
			}

			.photo {
				img {
					margin-right: auto;
					width: 100%;
				}
			}

			.info {
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
				height: 240px;

				@include tablet-portrait {
					height: auto;
				}

				.info-wrapper {
					padding: 40px;
					width: 100%;

					h4 {
						text-transform: uppercase;
						letter-spacing: 0.15em;
						font-weight: 500;
						font-size: 0.75em;
						padding: 0 0 20px 0;

						@include tablet-landscape {
							font-size: 0.875em;
							padding: 0 0 40px 0;
						}
					}

					h3 {
						font-weight: 900;
						font-size: 4em;

						@include tablet-landscape {
							font-size: 6em;
						}

						@include desktop {
							font-size: 8em;
						}

					}

					p {
						padding: 20px 0 0 0;
						text-transform: uppercase;
						letter-spacing: 0.05em;
						font-weight: 500;
						line-height: 1.5em;

						@include tablet-landscape {
							padding: 40px 0 0 0;
							font-size: 1.25em;
						}


					}
				}
			}
		}
	}


	section.about-copy {
		padding: 100px 0;
		background: url(images/wood-bg.jpg) no-repeat center center;
		background-size: cover;
		color: $white;

		@include tablet-portrait {
			padding: 150px 0;
		}

		.wrapper {
			max-width: 960px;

			@include tablet-portrait {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

				.col {
					width: 45%;
				}
			}
		}

		.col-2 {
			padding: 25px 0 0 0;

			@include tablet-portrait {
				padding: 0;
			}
		}

		.col {
			p {
				font-size: 1.125em;
				line-height: 1.666em;
			}
		}
	}

	section.sub-hero {
		padding: 100px 0 100px 0;
		background-position: top center;
		background-repeat: no-repeat;
		background-size: 100%;

		.wrapper {
			max-width: 880px;
			padding: 0;

			@include mobile-landscape {
				padding: 0 25px;
			}
		}

		.logo {
			padding: 0 0 50px 0;
			visibility: hidden;

			@include tablet-portrait {
				padding: 0 0 300px 0;
				visibility: visible;
			}

			img {
				max-width: 300px;
				margin: 0 auto;
			}

			.ornament {
				padding-top: 25px;
				width: 100%;
				z-index: 100;
				&-wrapper {
					margin: 0 auto;
				}
			}
		}

		.info {
			padding: 40px 40px 40px 40px;
			z-index: 2;
			max-width: 840px;
			margin: 0 auto;

			@include tablet-portrait {
				padding: 150px 100px 100px 100px;
			}
		}

		.discover-links {
			width: 100%;
			padding: 80px 0 0 0;

			.btn {
				max-width: 400px;
				margin: 0 auto
			}
		}


	}
}