body {
	background: #fff;
}

.wrapper {
	@include wrapper-padding;

}

.cover {
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
}

body:not(.home) section.hero {
	@include aspect-ratio(3,4);
	height: 100%;
	background-size: auto;
	background-size: cover;

	@include mobile-landscape {
		@include aspect-ratio(16,11);
		max-height: 840px;
	}

	.wrapper {
		position: static;
	}
}


.main-content {
	.wrapper {
		max-width: 700px;
	}
}

.contact-info {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	p.icon {
		font-weight: bold;
		line-height: 1.25em;
		padding: 0 0 0 24px;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: 16px 16px;
	}

	.address {
		text-align: center;
		width: 100%;

		@include tablet-portrait {
			text-align: left;
			width: auto;		
		}
		p.icon {
			background-image: url(images/pin-icon.svg);
			display: none;

			@include tablet-portrait {
				display: block;
				padding-bottom: 20px;
			}
		}		
		
		a.directions {
			font-weight: bold;
			display: inline-block;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			padding-bottom: 1px;
			border-bottom: 1px solid rgba(255, 255, 255, 0.4);
			color: $blue;
			background: url(images/blue-directions-arrow.png) no-repeat right center;
			padding-right: 32px;

			&:hover {
				color: $gold;
				text-decoration: underline;
				background: url(images/gold-directions-arrow.png) no-repeat right center;
			}

			@include tablet-portrait {
				margin-bottom: 30px;
				margin: 0 0 0 24px;
			}
		}				
	}

	.phone {
		p.icon {
			background-image: url(images/phone-icon.svg);
			display: none;

			@include tablet-portrait {
				padding-bottom: 30px;
				display: block;
			}
		}			
	}

	.email {
		p.icon {
			background-image: url(images/email-icon.svg);
			display: none;

			@include tablet-portrait {
				display: block;
			}
		}			
	}


}

.sub-nav {
	background: $tan;
	padding: 12px 20px 10px 20px;
	max-width: 578px;
	margin: 15px auto 15px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	a {
		display: block;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		font-size: 0.75em;
		font-weight: 500;
		width: 100%;
		text-align: center;
		padding: 10px;

		@include tablet-portrait {
			width: auto;
			padding: 0;
			margin: 10px 15px;
		}

		&:hover {
			color: $gold;
			text-decoration: underline;
		}
	}
}

.discover-links {
	text-align: center;

	h4 {
		text-transform: uppercase;
		letter-spacing: 0.15em;
		font-weight: 400;
		font-size: 0.75em;
	}

	.header {
		padding: 0 0 50px 0;
		h4 {
			display: flex;
			align-items: center;

			span {
				display: block;
				padding: 0 10px;
				flex: 0 0 0 auto;
			}

			&:before,
			&:after {
				display: block;
				content: '';
				width: 100%;
				height: 1px;
				background: $slate;
				flex: 1;
			}
		}
	}

	.btn {
		display: block;

		span {
			display: block;
			max-width: 300px;
		}
	}

	.or {
		padding: 35px 0;
	}

}

#overlay {
    background-color: rgba(0, 0, 0, 0.75) !important;
    display: none;
    height: 100vh;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 9999999;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

#overlay > div {
    display: table-cell;
    vertical-align: middle;
    padding: 40px;
}

.overlay-x {
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    color: #797979;
    position: absolute;
    letter-spacing: 2px;
    border-radius: 3px;
    padding: 16px 20px;
    margin-top: 30px;
    right: 30px;
    top: 0;
    z-index: 2;
}

.video-x-circle {

    color: $white;
    width: 40px;
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 37px;
    padding-left: 2px;
    margin-right: 10px;
    text-align: center;
    height: 40px;
    display: inline-block;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100%;
    margin: 0 auto;
}

.bg-texture {
	max-width: 840px;
	margin: 0 auto;
	padding: 10px 0;
	background: #8c959c;
	z-index: 1;

	@include mobile-landscape {
		padding: 10px;
	}
}

.pattern {
	background: $white url(images/logo-bg-pattern.png) repeat center center;
	padding: 10px 0;
	z-index: 2;

	@include mobile-landscape {
		padding: 10px;
	}
}

.border {
	border-top: 1px solid #8c959c;
	border-bottom: 1px solid #8c959c;

	@include mobile-landscape {
		border-left: 1px solid #8c959c;
		border-right: 1px solid #8c959c;
	}
}


.ornament {
	position: absolute;
	height: 100%;

	.ornament-wrapper {
		width: 20px;
		height: 100%;
	}

	.line {
		height: 100%;
		width: 2px;
		background: $gold;
		margin: 0 auto;
	}

	.scallop {
		background: url(images/scallop.svg) no-repeat 0 0;
		width: 20px;
		height: 20px;
		transform: translateY(-5px);
	}
}

.hero-content .ornament {
	padding: 50px 0 40px 15px;

	@include tablet-portrait {
		padding: 50px 0 40px 65px;
	}
}
