html, input, textarea {
	-webkit-font-smoothing: antialiased;
}
body {
	text-rendering: optimizeLegibility;
}

body, input, textarea, button {
	color: $slate;
	font: 400 100%/1 $gotham;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}

p {

}

a {
	color: $slate;
	transition: all 0.3s ease-in-out;
}

.btn,
body div.wpforms-container-full .wpforms-form button[type=submit] {
	color: $white;
	background: $gold;
	border: none;
	border-right: 30px solid $slate;
	font-weight: bold;
	font-size: 0.875em;
	line-height: 1.375em;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	text-align: center;
	padding: 15px 30px 14px 30px;
	position: relative;
	transition: background 0.2s ease-in-out;

	@include tablet-portrait {
		font-size: 1.125em;
		padding: 25px 50px 24px 50px;
	}

	&:hover {
		background: $blue;
		margin: 0;
		border: none;
		border-right: 30px solid $slate;
	}

	&:after {
		display: block;
		content: '';
		background: url(images/arrow-next.svg) no-repeat 0 0;
		position: absolute;
		right: -22px;
		top: 50%;
		width: 12px;
		height: 20px;
		transform: translateY(-10px);

	}
}


.underline {
	border-bottom: 3px solid $slate;
	padding: 0 0 5px 0;
	display: inline-block;
	transition: all 0.3s ease-in-out;

	&:hover {
		border-bottom: 3px solid $blue;

		a {
			color: $blue;
		}
	}

	a {
		font-weight: 600;
		text-transform: uppercase;
		display: block;
		line-height: 1.25em;

		&:hover {
			color: $blue;
		}


	}
}

h4.top-sub {
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	font-size: 0.75em;
	padding: 0 0 10px 0;
}

h5.pre-hed {
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-size: 0.875em;
	padding: 0 0 20px 0;
}


h2.home {
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-size: 1.75em;
	padding: 0 0 30px 0;

	@include tablet-portrait {
		font-size: 3em;
	}

	strong {
		font-weight: 700;
		color: $blue;
	}
}


h3.home-sub {
	width: 100%;
	text-align: center;
	padding: 10px 0 10px 0;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	font-size: 0.9375em;

	strong {
		font-weight: bold;
	}
}

h2.main-hed {
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	font-size: 1.75em;
	line-height: 1.375em;
	padding: 0 0 20px 0;

	@include tablet-portrait {
		font-size: 2em;
		padding: 0 0 40px 0;
	}
}

.metal-copy {
	p {
		font-size: 1em;
		line-height: 1.6666em;
		font-weight: 500;

		@include tablet-portrait {
			font-size: 1.125em;
		}

		& + p {
			padding-top: 30px;
		}
	}
}


.main-content {
	ul, ol, p {
		font-size: 1em;
		line-height: 1.6666em;
		font-weight: 500;

		@include tablet-portrait {
			font-size: 1.125em;
		}

		& + * {
			padding-top: 20px;
		}
	}

	ul {
		list-style-type: disc;
		margin-left: 20px;
	}

	ol {
		list-style-type: decimal;
		margin-left: 20px;
	}

	a {
		color: $gold;
		text-decoration: underline;
	}
}