/* Colors
----------------------------------*/
$white: #fff;
$off-white: #fafafa;
$light-gray: #d9d9d9;
$mid-gray: #7B7977;
$charcoal: #424242;
$slate: #3c3836;
$black: #000;

$red: #BF1E2E;
$blue: #4d748c;
$gold: #ca8b2a;
$tan: #e9e5dd;


/* Typography
----------------------------------*/
$gotham: "Gotham SSm A", "Gotham SSm B";
